body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(218, 192, 163) 20%, rgb(238, 230, 218) 50%, rgb(248, 240, 229) 90%);
    font-family: monospace, sans-serif;
    color: rgb(16, 44, 87);
}

.container {
    background: rgb(218, 192, 163));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 85%;
    max-width: 800px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 32px;
}

.temp-container {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 60%;
    font-family: monospace;
    padding: 5px;
    outline: none;
    background: rgb(235, 233, 233);
    border-color: rgba(255, 255, 255, 0.6);
    color: rgb(16, 44, 87);
    font-size: 18px;
}

input::placeholder {
    color: rgb(81, 26, 221);
}

/* Responsive CSS */
@media (min-width: 600px) {
    .container {
        width: 70%;
    }

    input {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .container {
        width: 60%;
    }

    input {
        width: 40%;
    }
}
